*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  width: 700px;
  height: 300vh;
}
.newImage {
  background-color: cadetblue;
  box-shadow: 5px 5px 10px 10px rgba(red, green, blue, 0.3);
}
